
/* Teal */
:root {
    --color-link: #4DB6AC;
    --color-principal-claro: #4DB6AC;
    --color-principal: #009688;
    --color-principal-oscuro: #00695C;
}

/* Rosa */
:root {
    --color-link: #F06292;
    --color-principal-claro: #F06292;
    --color-principal: #EC407A;
    --color-principal-oscuro: #C2185B;
}

/* Rojo */
:root {
    --color-link: #e57373;
    --color-principal-claro: #ef5350;
    --color-principal: #c62828;
    --color-principal-oscuro: #d32f2f;
}

/* Morado */
:root {
    --color-link: #7E57C2;
    --color-principal-claro: #673AB7;
    --color-principal: #5E35B1;
    --color-principal-oscuro: #4527A0;
}

.claro {
    --color-fondo1: white;
    --color-fondo2: #fdfdfd;
    --color-fondo3: #fbfbfb;
    --color-fondo4: #fafafa;
    --color-fondo5: #f8f8f8;
    --color-fondo6: #f6f6f6;
    --color-fondo7: #f4f4f4;
    --color-texto1: #151515;
    --color-texto2: #202020;
}
